fastapi==0.116.1
uvicorn==0.35.0
librosa==0.8.0
moviepy==1.0.3
pydub==0.25.1
soundfile==0.12.1
ffmpeg-python==0.2.0
git+https://github.com/openai/whisper.git
spleeter==2.1.0
nest-asyncio==1.6.0
numpy==1.18.5
python==3.10
